{% extends '::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                {% include '::modulesUsed/navigation.html.twig' %}
                {#{% include 'UsersBundle:Default:modulesUsed/users.html.twig' %}#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UsersBundle:Default:modulesUsed/usersConnecte.html.twig' %}
                {% else %}
                    {% include 'UsersBundle:Default:modulesUsed/users.html.twig' %}
                {% endif %}
                {% render(controller('EcommerceBundle:Panier:menu')) %}
            </div>

            <div class="col-lg-9">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <ul class="thumbnails">
                    {% for produit in produits %}
                        <li class="col-lg-3">
                            <div class="thumbnail">
                                <img src="{{ produit.image.path }}" alt="Ecommerce" width="300" height="300">
                                <div class="caption">
                                    <h4>{{ produit.nom }}</h4>
                                    <p>{{ produit.prix|tva(produit.tva.multiplicate) }}</p>
                                    <a class="btn btn-primary" href="{{ path('presentation', { 'id' : produit.id }) }}">Plus d'infos</a>
                                    {#{% if panier[produit.id] is not defined %}#}
                                        <a class="btn btn-success" href="{{ path('ajouter', { 'id' : produit.id }) }}">Ajouter au panier</a>
                                    {#{% endif %}#}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div>
                    <ul class="pagination">
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
