{% trans_default_domain 'FOSUserBundle' %}
{% if form is defined %}
    {% form_theme form 'JCVUserBundle:Form:form_JCV_type.html.twig' %}
{% endif %}
<div class="well">


    {% if form is defined %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-4">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.username, "Username", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.username) }}
            <div class="col-sm-4">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword, "Password", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword, "Confirm password", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
                <div class="form-group">
                    {{ form_label(form.namePrefix, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.namePrefix) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.namePrefix, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.firstName) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.lastName) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.gender, "Sexe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.gender) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.lifePartner, "Partenaire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.lifePartner) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.lifePartner, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.myFriends, "Friends", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.myFriends) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.myFriends, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.image.file, "Photo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.image.file) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.phone, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.phone) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.roles, "Roles", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.roles) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
        <div>
            <input type="submit" value="{{ 'Add'|trans }}" class="col-sm-offset-4" />
        </div>

        {{ form_end(form) }}
    {% endif %}
</div>
