{# src/JCV/UploadBundle/Resources/views/Upload/index.html.twig #}

{% extends "JCVUploadBundle::layout.html.twig" %}

{% block jcvupload_body -%}
    <h1>Upload</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Original File Name</th>
                <td>{{ entity.originalFile }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <p>
        <a href="{{ path('upload') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back to the list
        </a>
        <!--<a href="{{ path('upload_edit', {'id': entity.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
        </a>-->
        <a href="{{ path('upload_delete', {'id': entity.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'upload
        </a>
    </p>
{% endblock %}


