{# src/JCV/UploadBundle/Resources/views/Upload/show.html.twig #}

{% extends "JCVUploadBundle::layout.html.twig" %}

{% block jcvupload_body -%}

{{ include("JCVUploadBundle:Upload:showUploadTable.html.twig") }}

{{ include("JCVUploadBundle:Upload:showUploadSharts.html.twig") }}

    <p>
        <a href="{{ path('upload') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back to the list
        </a>
        <!--<a href="{{ path('upload_edit', {'id': entity.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
        </a>-->
        <a href="{{ path('upload_delete', {'id': entity.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'upload
        </a>
    </p>

{% endblock %}


